.add-todo {
	display: 'flex';
	padding: 5px;
	color: white;
}

input[type=text], select {
	color: black;
	font-size: 12px;
	border: 1px solid white;
}

input[type=text] {
	background-color: white;
	color: black;
	font-size: 1.4rem;
	border: 1px solid white;
}

button {
	background-color: #E53162;
	border: #E53162;
}

input:active {
	border: #E53162;
}
